APP_NAME=ANTECOConnect
APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.anteconect.com

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=anteconect
DB_USERNAME=postgres
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=api.anteconect.com,*.anteconect.com
SESSION_DRIVER=cookie
SESSION_DOMAIN=.anteconect.com

FIREBASE_CREDENTIALS=storage/app/firebase-credentials.json
FCM_SERVER_KEY=AAAA_FCM_SERVER_KEY_HERE
FIREBASE_PROJECT_ID=antecoconnect
FIREBASE_API_KEY=AIzaSyAB5xg3MuXh4a8YBUHjhwplu-8_XLaafNo
FIREBASE_AUTH_DOMAIN=antecoconnect.firebaseapp.com
FIREBASE_STORAGE_BUCKET=antecoconnect.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=741998841135
FIREBASE_APP_ID=1:741998841135:web:f92f86259de5260c77a5da
FIREBASE_MEASUREMENT_ID=G-D8ZKCTS9K4

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=

GOOGLE_MAPS_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=

VITE_APP_URL=https://consumer.anteconect.com
VITE_ADMIN_URL=https://admin.anteconect.com
