.git
.gitignore
.gitattributes
.gcloudignore
.dockerignore
.env
.env.*
vendor/
node_modules/
storage/logs/*
storage/framework/cache/data/*
storage/app/*firebase*.json
storage/app/*-adminsdk-*.json
storage/app/antecoconnect-firebase-adminsdk*.json
storage/app/firebase-credentials.json
scripts/
*.md
.vscode/
.idea/
